    {% set cameraman_costs = 0 %}
    {% set equipment_total_costs = 0 %}
    {% set subtotal_costs = 0 %}
    {% set vat_costs = 0 %}
    {% set total_costs = 0 %}

        <div id="company-name">
            <h4><strong>{{ userDTO.companyName | title }}</strong></h4>
        </div>

        <div id="creation-date">
            Amsterdam, {{ invoiceDTO.creationDate.toLocaleDateString('nl') }}
        </div>

        <div id="client-info">
            <div id="client-name">{{ invoiceDTO.clientDTO.firstName | capitalize }} {{ invoiceDTO.clientDTO.lastName | capitalize }}</div>
            <div id="street-house-nr">{{ invoiceDTO.clientDTO.street | capitalize }} {{ invoiceDTO.clientDTO.houseNumber }}</div>
            <div id="zipcode-city">{{ invoiceDTO.clientDTO.zipcode }}, {{ invoiceDTO.clientDTO.city | capitalize }}</div>
        </div>

        <div id="general-info">
            <div id="invoice-nr"><strong>Rekeningnummer:</strong> {{ invoiceDTO.invoiceNumber }}</div>
            <div id="contact-person">Contactpersoon: {{ invoiceDTO.clientDTO.firstName | capitalize }} {{ invoiceDTO.clientDTO.lastName | capitalize }}</div>
            <div id="project-nr">Projectnummer: {{ invoiceDTO.projectNumber }}</div>
        </div>

        <div id="job-info">
            <div id="job-description">Werktitel: {{ invoiceDTO.jobDTO.description | capitalize }}</div>
            <div id="directed-by">Regie: {{ invoiceDTO.jobDTO.directedBy | capitalize }}</div>
            <div id="location">Locatie: {{ invoiceDTO.jobDTO.location | capitalize }}</div>
        </div>

        {% if invoiceDTO.jobDTO.cameramanDTO !== undefined %}
            {% set cameraman_costs = invoiceDTO.jobDTO.cameramanDTO.costs %}
            <div id="cameraman-segment">
                <h5>Cameraman</h5>
                <table>
                    <tr>
                        <th>Naam</th>
                        <th>Startdatum</th>
                        <th>Einddatum</th>
                        <th>Gewerkte dagen</th>
                        <th>Dagprijs</th>
                        <th>Kosten</th>
                    </tr>
                    <tr>
                        <td>{{ invoiceDTO.jobDTO.cameramanDTO.firstName | capitalize }} {{ invoiceDTO.jobDTO.cameramanDTO.lastName | capitalize }}</td>
                        <td>{{ invoiceDTO.jobDTO.cameramanDTO.startDate.toLocaleDateString('nl') }}</td>
                        <td>{{ invoiceDTO.jobDTO.cameramanDTO.endDate.toLocaleDateString('nl') }}</td>
                        <td>{{ invoiceDTO.jobDTO.cameramanDTO.daysWorked }}</td>
                        <td>€{{ invoiceDTO.jobDTO.cameramanDTO.dayPrice }}</td>
                        <td>€{{ invoiceDTO.jobDTO.cameramanDTO.costs }}</td>
                    </tr>
                </table>

                <div class="subtotal">
                    Subtotaal: €{{ cameraman_costs }}
                </div>
            </div>
        {% endif %}

        {% if invoiceDTO.jobDTO.equipmentItemDTOs.length !== 0 %}
            {% set equipment_costs = 0 %}
            <div id="equipment-segment">
                <h5>Apparatuur</h5>
                <table>
                    <tr>
                        <th>Naam</th>
                        <th>Startdatum</th>
                        <th>Einddatum</th>
                        <th>Gewerkte dagen</th>
                        <th>Dagprijs</th>
                        <th>Kosten</th>
                    </tr>

                    {% for item in invoiceDTO.jobDTO.equipmentItemDTOs %}
                        {% set equipment_costs = item.costs %}
                        {% set equipment_total_costs = equipment_total_costs + equipment_costs %}
                        <tr>
                            <td>{{ item.name | title }}</td>
                            <td>{{ item.startDate.toLocaleDateString('nl') }}</td>
                            <td>{{ item.endDate.toLocaleDateString('nl') }}</td>
                            <td>{{ item.daysRented }}</td>
                            <td>€{{ item.dayPrice }}</td>
                            <td>€{{ item.costs }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="subtotal">
                    Subtotaal: €{{ equipment_total_costs }}
                </div>
            </div>
        {% endif %}

        <div id="total-cost-segment">
            {% set subtotal_costs = cameraman_costs + equipment_total_costs %}
            {% set vat_costs = subtotal_costs * (vatPercentage / 100) %}
            {% set total_costs = subtotal_costs + vat_costs %}
            <h5>Totale kosten</h5>
            <table>
                <tr>
                    <th>Totaal</th>
                    <th>BTW ({{ vatPercentage }}%)</th>
                    <th><strong>Te betalen bedrag</strong></th>
                </tr>

                <tr>
                    <td>€{{ subtotal_costs }}</td>
                    <td>€{{ vat_costs }}</td>
                    <td><strong>€{{ total_costs }}</strong></td>
                </tr>
            </table>
        </div>

        <div id="payment-info">
            <p style="text-align: center">
                Betaalwijze: Binnen 30 dagen na factuurdatum <br>
                SEI nr: {{ userDTO.bankAccountNr }} <br>
                t.n.v: {{ userDTO.firstName | capitalize }} {{ userDTO.lastName | capitalize }} <br>
                IBAN: {{ userDTO.iban }} <br>
            </p>
        </div>

        <div id="general-user-info">
            <table>
                <tbody>
                    <tr>
                        <th>{{ userDTO.firstName | capitalize }} {{ userDTO.lastName | capitalize }}</th>
                    </tr>

                    <tr>
                        <th>{{ userDTO.jobTitle | capitalize }}</th>
                    </tr>

                    <tr>
                        <th>{{ userDTO.street | capitalize }} {{ userDTO.houseNr }}</th>
                    </tr>

                    <tr>
                        <th>{{ userDTO.zipcode }}</th>
                    </tr>

                    <tr>
                        <th>{{ userDTO.city | capitalize }}</td>
                    </tr>

                    <tr>
                        <th>Telefoon: {{ userDTO.phoneNr }}</th>
                    </tr>

                    <tr>
                        <th>Mobiel: {{ userDTO.mobileNr }}</th>
                    </tr>

                    <tr>
                        <th>{{ userDTO.email }}</th>
                    </tr>

                    <tr>
                        <th>Btwnr: {{ userDTO.vatNr }}</th>
                    </tr>

                    <tr>
                        <th>K.v.K: {{ userDTO.chamberOfCommerceNr }}</th>
                    </tr>

                    <tr>
                        <th>Var: {{ userDTO.varNr }}</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="agreement">
            <p>
                'Deze overeenkomst is gebaseerd op de door de Belastingdienst op 29 februari 2016 onder nummer 298349899-08-1 beoordeelde overeenkomst. 
                De in die overeenkomst gemarkeerde bepalingen zijn in deze overeenkomst ongewijzigd overgenomen. 
                Voor zover in deze overeenkomst aanpassingen hebben plaatsgevonden, zijn partijen van mening dat deze aanpassingen geen afbreuk doen aan 
                de in de model- of voorbeeldovereenkomst gemarkeerde bepalingen.'
            </p>
        </div>